body {
    margin: 0%;
    padding: 0%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:darkred
    ;
}

h1 {
    color: whitesmoke;
    font-size: 10vh;
}
